[submodule "ahb3lite_wb_bridge"]
	path = ahb3lite_wb_bridge
	url = https://github.com/vfinotti/ahb3lite_wb_bridge.git
[submodule "wb_dma"]
	path = wb_dma
	url = https://github.com/vfinotti/wb_dma.git
